<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<configuration>
	<typeHandlers>
	        <typeHandler handler="org.apache.ibatis.type.EnumOrdinalTypeHandler" javaType="org.kitchen.domain.code.UserStatus" />
	</typeHandlers>
</configuration>