<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.rog//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.kitchen.mapper.RecipeMapper">

<resultMap id="recipe" type="org.kitchen.domain.RecipeVO">
   <result property="rno" column="r_num"/>
   <result property="title" column="title"/>
   <result property="thumbnail" column="thumbnail"/>
   <result property="regdate" column="regdate"/>
   <result property="updateDate" column="updatedate"/>
   <result property="cookingTime" column="cookingtime"/>
   <result property="difficulty" column="difficulty"/>
   <result property="userNo" column="u_num"/>
</resultMap>

<select id="getList" resultMap="recipe">
<![CDATA[select * from tbl_recipe where r_num>0]]>
</select>

</mapper>
