<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.kitchen.mapper.UserMapper">

<resultMap id="user" type="org.kitchen.domain.UserVO">
   <result property="userNo" column="u_num"/>
   <result property="userId" column="u_id"/>
   <result property="userPwd" column="u_pwd"/>
   <result property="email" column="email"/>
   <result property="emailAuth" column="email_auth"/>
   <result property="nickName" column="nickname"/>
   <result property="profilePhoto" column="u_photo"/>
   <result property="webUrl" column="u_url"/>
   <result property="bio" column="info"/>
   <result property="emailSub" column="email_news"/>
   <result property="privacy" column="u_public"/>
   <result property="status" column="status"/>
</resultMap>

<insert id="insert">
	<selectKey keyProperty="userNo" order="BEFORE" resultType="Long">
	select u_seq.nextval from dual
	</selectKey>
	insert into tbl_user 
	(u_num, u_id, u_pwd, email, email_auth, email_news, u_photo, 
	u_url, u_public, status, info, nickname)
	values(#{userNo}, #{userId}, #{userPwd}, #{email}, #{emailAuth},  
	#{emailSub}, #{profilePhoto}, #{webUrl}, #{privacy}, 
	#{status}, #{bio}, #{nickName})
</insert>

<select id="selectById" resultMap="user">
select * from tbl_user where u_id = #{userId}
</select>

<select id="selectByNo" resultMap="user">
select * from tbl_user where u_num = #{userNo}
</select>

<update id="update" parameterType="org.kitchen.domain.UserVO">
update tbl_user set u_id=#{userId}, u_pwd=#{userPwd}, email=#{email}, email_auth=#{emailAuth}, email_news=#{emailSub}, 
u_photo=#{profilePhoto}, u_url=#{webUrl}, u_public=#{privacy}, status=#{status}, info=#{bio}, nickname=#{nickName}
where u_num = #{userNo}
</update>

<delete id="delete" parameterType="org.kitchen.domain.UserVO">
delete from tbl_user where u_num = #{userNo}
</delete>

<delete id="deleteByNo">
delete from tbl_user where u_num = #{userNo}
</delete>

<delete id="deleteById">
delete from tbl_user where u_id = #{userId}
</delete>

<select id="getTotalList" resultMap="user">
<![CDATA[
select * from tbl_user where u_num>0
]]>
</select>	

	
</mapper>